@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s ease-in-out forwards;
}
